################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebAPI_Receta/.vs
/WebAPI_Receta/obj
/WebAPI_Receta/bin
